
:root {
    /* gruvbox */
    --gb-dark0-hard:                     #1d2021;
    --gb-dark0:                          #282828;
    --gb-dark0-soft:                     #32302f;
    --gb-dark1:                          #3c3836;
    --gb-dark2:                          #504945;
    --gb-dark3:                          #665c54;
    --gb-dark4:                          #7c6f64;
    --gb-dark4-256:                      #7c6f64;
    --gb-gray-245:                       #928374;
    --gb-gray-244:                       #928374;
    --gb-light0-hard:                    #f9f5d7;
    --gb-light0:                         #fbf1c7;
    --gb-light0-soft:                    #f2e5bc;
    --gb-light1:                         #ebdbb2;
    --gb-light2:                         #d5c4a1;
    --gb-light3:                         #bdae93;
    --gb-light4:                         #a89984;
    --gb-light4-256:                     #a89984;
    --gb-bright-red:                     #fb4934;
    --gb-bright-green:                   #b8bb26;
    --gb-bright-yellow:                  #fabd2f;
    --gb-bright-blue:                    #83a598;
    --gb-bright-purple:                  #d3869b;
    --gb-bright-aqua:                    #8ec07c;
    --gb-bright-orange:                  #fe8019;
    --gb-neutral-red:                    #cc241d;
    --gb-neutral-green:                  #98971a;
    --gb-neutral-yellow:                 #d79921;
    --gb-neutral-blue:                   #458588;
    --gb-neutral-purple:                 #b16286;
    --gb-neutral-aqua:                   #689d6a;
    --gb-neutral-orange:                 #d65d0e;
    --gb-faded-red:                      #9d0006;
    --gb-faded-green:                    #79740e;
    --gb-faded-yellow:                   #b57614;
    --gb-faded-blue:                     #076678;
    --gb-faded-purple:                   #8f3f71;
    --gb-faded-aqua:                     #427b58;
    --gb-faded-orange:                   #af3a03;

    /* flat UI v1 */
    --flatui-alizarin:                   #E74C3C;
    --flatui-amethyst:                   #9B59B6;
    --flatui-asbestos:                   #7F8C8D;
    --flatui-belize-hole:                #2980B9;
    --flatui-carrot:                     #E67E22;
    --flatui-clouds:                     #ECF0F1;
    --flatui-concrete:                   #95A5A6;
    --flatui-emerald:                    #2ECC71;
    --flatui-green-sea:                  #16A085;
    --flatui-midnight-blue:              #2C3E50;
    --flatui-nephritis:                  #27AE60;
    --flatui-orange:                     #F39C12;
    --flatui-peter-river:                #3498DB;
    --flatui-pomegranate:                #C0392B;
    --flatui-pumpkin:                    #D35400;
    --flatui-silver:                     #BDC3C7;
    --flatui-sun-flower:                 #F1C40F;
    --flatui-turquoise:                  #1ABC9C;
    --flatui-wet-asphalt:                #34495E;
    --flatui-wisteria:                   #8E44AD;
     
    /* american palette */
    --american-american-river:           #636E72;
    --american-bright-yarrow:            #FDCB6E;
    --american-chi-gong:                 #D63031;
    --american-city-lights:              #DFE6E9;
    --american-dracula-orchid:           #2D3436;
    --american-electron-blue:            #0984E3;
    --american-exodus-fruit:             #6C5CE7;
    --american-faded-poster:             #81ECEC;
    --american-first-date:               #FAB1A0;
    --american-green-darner-tail:        #74B9FF;
    --american-light-greenish-blue:      #55EFC4;
    --american-mint-leaf:                #00B894;
    --american-orangeville:              #E17055;
    --american-pico-8-pink:              #FD79A8;
    --american-pink-glamour:             #FF7675;
    --american-prunus-avium:             #E84393;
    --american-robins-egg-blue:          #00CEC9;
    --american-shy-moment:               #A29BFE;
    --american-soothing-breeze:          #B2BEC3;
    --american-sour-lemon:               #FFEAA7;

    /* canadian palette */
    --canadian-amour:                    #EE5253;
    --canadian-aqua-velvet:              #01A3A4;
    --canadian-bleu-de-france:           #2E86DE;
    --canadian-bluebell:                 #341F97;
    --canadian-casandora-yellow:         #FECA57;
    --canadian-cyanite:                  #0ABDE3;
    --canadian-dark-mountain-meadow:     #10AC84;
    --canadian-double-dragon-skin:       #FF9F43;
    --canadian-fuel-town:                #576574;
    --canadian-imperial-primer:          #222F3E;
    --canadian-jade-dust:                #00D2D3;
    --canadian-jigglypuff:               #FF9FF3;
    --canadian-joust-blue:               #54A0FF;
    --canadian-light-blue-ballerina:     #C8D6E5;
    --canadian-lián-hóng-lotus-pink:     #F368E0;
    --canadian-megaman:                  #48DBFB;
    --canadian-nasu-purple:              #5F27CD;
    --canadian-pastel-red:               #FF6B6B;
    --canadian-storm-petrel:             #8395A7;
    --canadian-wild-caribbean-green:     #1DD1A1;

    /* indian palette                    */
    --indian-bluebell:                   #3B3B98;
    --indian-bright-ube:                 #D6A2E8;
    --indian-clear-chill:                #1B9CFC;
    --indian-ending-navy-blue:           #182C61;
    --indian-falling-star:               #CAD3C8;
    --indian-fiery-fuchsia:              #B33771;
    --indian-georgia-peach:              #FD7272;
    --indian-highlighter-lavender:       #82589F;
    --indian-honey-glow:                 #EAB543;
    --indian-keppel:                     #58B19F;
    --indian-magenta-purple:             #6D214F;
    --indian-oasis-stream:               #9AECDB;
    --indian-orchid-orange:              #FEA47F;
    --indian-pine-glade:                 #BDC581;
    --indian-rich-gardenia:              #F97F51;
    --indian-sarawak-white-pepper:       #F8EFBA;
    --indian-sasquatch-socks:            #FC427B;
    --indian-ships-officer:              #2C3A47;
    --indian-spiro-disco-ball:           #25CCF7;
    --indian-sweet-garden:               #55E6C1;

    /* german palette */
    --german-algal-fuel:                 #20BF6B;
    --german-beniukon-bronze:            #FA8231;
    --german-blue-grey:                  #778CA3;
    --german-blue-horizon:               #4B6584;
    --german-boyzone:                    #2D98DA;
    --german-c64-ntsc:                   #4B7BEC;
    --german-desire:                     #EB3B5A;
    --german-flirtatious:                #FED330;
    --german-fusion-red:                 #FC5C65;
    --german-gloomy-purple:              #8854D0;
    --german-high-blue:                  #45AAF2;
    --german-innuendo:                   #A5B1C2;
    --german-lighter-purple:             #A55EEA;
    --german-maximum-blue-green:         #2BCBBA;
    --german-nyc-taxi:                   #F7B731;
    --german-orange-hibiscus:            #FD9644;
    --german-reptile-green:              #26DE81;
    --german-royal-blue:                 #3867D6;
    --german-turquoise-topaz:            #0FB9B1;
    --german-twinkle-blue:               #D1D8E0;

    /* russian palette */
    --russian-apple-valley:              #EA8685;
    --russian-biscay:                    #303952;
    --russian-blue-curacao:              #3DC1D3;
    --russian-brewed-mustard:            #E77F67;
    --russian-cornflower:                #546DE5;
    --russian-creamy-peach:              #F3A683;
    --russian-deep-rose:                 #C44569;
    --russian-flamingo-pink:             #F78FB3;
    --russian-old-geranium:              #CF6A87;
    --russian-pencil-lead:               #596275;
    --russian-porcelain-rose:            #E66767;
    --russian-purple-corallite:          #574B90;
    --russian-purple-mountain-majesty:   #786FA6;
    --russian-rogue-pink:                #F8A5C2;
    --russian-rosy-highlight:            #F7D794;
    --russian-sawtooth-aak:              #F19066;
    --russian-soft-blue:                 #778BEB;
    --russian-squeaky:                   #63CDDA;
    --russian-summertime:                #F5CD79;
    --russian-tigerlily:                 #E15F41;

    /* spanish palette */
    --spanish-alameda-ochre:             #CC8E35;
    --spanish-c64-purple:                #706FD3;
    --spanish-celestial-green:           #33D9B2;
    --spanish-chilean-fire:              #CD6133;
    --spanish-crocodile-tooth:           #D1CCC0;
    --spanish-desert:                    #CCAE62;
    --spanish-devil-blue:                #227093;
    --spanish-eye-of-newt:               #B33939;
    --spanish-fluorescent-red:           #FF5252;
    --spanish-grey-porcelain:            #84817A;
    --spanish-hot-stone:                 #AAA69D;
    --spanish-jacksons-purple:           #40407A;
    --spanish-liberty:                   #474787;
    --spanish-lucky-point:               #2C2C54;
    --spanish-mandarin-sorbet:           #FFB142;
    --spanish-palm-springs-splash:       #218C74;
    --spanish-spiced-butternut:          #FFDA79;
    --spanish-summer-sky:                #34ACE0;
    --spanish-swan-white:                #F7F1E3;
    --spanish-synthetic-pumpkin:         #FF793F;

    /* french palette */
    --french-aurora-green:               #78E08F;
    --french-azraq-blue:                 #4A69BD;
    --french-carrot-orange:              #E58E26;
    --french-dark-sapphire:              #0C2461;
    --french-dupain:                     #60A3BC;
    --french-flat-flesh:                 #FAD390;
    --french-forest-blues:               #0A3D62;
    --french-good-samaritan:             #3C6382;
    --french-iceland-poppy:              #FA983A;
    --french-jalapeno-red:               #B71540;
    --french-livid:                      #6A89CC;
    --french-mandarin-red:               #E55039;
    --french-melon-melody:               #F8C291;
    --french-paradise-green:             #B8E994;
    --french-reef-encounter:             #079992;
    --french-spray:                      #82CCDD;
    --french-squash-blossom:             #F6B93B;
    --french-tomato-red:                 #EB2F06;
    --french-waterfall:                  #38ADA9;
    --french-yue-guang-lan-blue:         #1E3799;

    /* aussie palette */
    --aussie-beekeeper:                  #F6E58D;
    --aussie-blurple:                    #4834D4;
    --aussie-carmine-pink:               #EB4D4B;
    --aussie-coastal-breeze:             #DFF9FB;
    --aussie-deep-cove:                  #130F40;
    --aussie-deep-koamaru:               #30336B;
    --aussie-exodus-fruit:               #686DE0;
    --aussie-greenland-green:            #22A6B3;
    --aussie-heliotrope:                 #E056FD;
    --aussie-hint-of-ice-pack:           #C7ECEE;
    --aussie-june-bud:                   #BADC58;
    --aussie-middle-blue:                #7ED6DF;
    --aussie-pink-glamour:               #FF7979;
    --aussie-pure-apple:                 #6AB04C;
    --aussie-quince-jelly:               #F0932B;
    --aussie-soaring-eagle:              #95AFC0;
    --aussie-spiced-nectarine:           #FFBE76;
    --aussie-steel-pink:                 #BE2EDD;
    --aussie-turbo:                      #F9CA24;
    --aussie-wizard-grey:                #535C68;

    /* british palette */
    --british-blue-nights:               #353B48;
    --british-blueberry-soda:            #7F8FA6;
    --british-chain-gang-grey:           #718093;
    --british-download-progress:         #4CD137;
    --british-electromagnetic:           #2F3640;
    --british-harley-davidson-orange:    #C23616;
    --british-hint-of-pensive:           #DCDDE1;
    --british-lynx-white:                #F5F6FA;
    --british-matt-purple:               #8C7AE6;
    --british-mazarine-blue:             #273C75;
    --british-nanohanacha-gold:          #E1B12C;
    --british-nasturcian-flower:         #E84118;
    --british-naval:                     #40739E;
    --british-periwinkle:                #9C88FF;
    --british-pico-void:                 #192A56;
    --british-protoss-pylon:             #00A8FF;
    --british-rise-n-shine:              #FBC531;
    --british-seabrook:                  #487EB0;
    --british-skirret-green:             #44BD32;
    --british-vanadyl-blue:              #0097E6;

    /* chinese palette */
    --chinese-anti-flash-white:          #F1F2F6;
    --chinese-bay-wharf:                 #747D8C;
    --chinese-bright-greek:              #3742FA;
    --chinese-bruschetta-tomato:         #FF6348;
    --chinese-city-lights:               #DFE4EA;
    --chinese-clear-chill:               #1E90FF;
    --chinese-coral:                     #FF7F50;
    --chinese-french-sky-blue:           #70A1FF;
    --chinese-golden-sand:               #ECCC68;
    --chinese-grisaille:                 #57606F;
    --chinese-lime-soap:                 #7BED9F;
    --chinese-orange:                    #FFA502;
    --chinese-peace:                     #A4B0BE;
    --chinese-prestige-blue:             #2F3542;
    --chinese-saturated-sky:             #5352ED;
    --chinese-twinkle-blue:              #CED6E0;
    --chinese-ufo-green:                 #2ED573;
    --chinese-watermelon:                #FF4757;
    --chinese-white:                     #FFFFFF;
    --chinese-wild-watermelon:           #FF6B81;

    /* dutch palette */
    --dutch-20000-leagues-under-the-sea: #1B1464;
    --dutch-android-green:               #A3CB38;
    --dutch-bara-red:                    #ED4C67;
    --dutch-blue-martina:                #12CBC4;
    --dutch-circumorbital-ring:          #5758BB;
    --dutch-energos:                     #C4E538;
    --dutch-forgotten-purple:            #9980FA;
    --dutch-hollyhock:                   #833471;
    --dutch-lavender-rose:               #FDA7DF;
    --dutch-lavender-tea:                #D980FA;
    --dutch-magenta-purple:              #6F1E51;
    --dutch-mediterranean-sea:           #1289A7;
    --dutch-merchant-marine-blue:        #0652DD;
    --dutch-pixelated-grass:             #009432;
    --dutch-puffins-bill:                #EE5A24;
    --dutch-radiant-yellow:              #F79F1F;
    --dutch-red-pigment:                 #EA2027;
    --dutch-sunflower:                   #FFC312;
    --dutch-turkish-aqua:                #006266;
    --dutch-very-berry:                  #B53471;

    /* swedish palette */
    --swedish-black-pearl:               #1E272E;
    --swedish-chrome-yellow:             #FFA801;
    --swedish-dark-periwinkle:           #575FCF;
    --swedish-free-speech-blue:          #3C40C6;
    --swedish-fresh-turquoise:           #34E7E4;
    --swedish-good-night:                #485460;
    --swedish-green-teal:                #05C46B;
    --swedish-highlighter-pink:          #EF5777;
    --swedish-hint-of-elusive-blue:      #D2DAE2;
    --swedish-jade-dust:                 #00D8D6;
    --swedish-london-square:             #808E9B;
    --swedish-megaman:                   #4BCFFA;
    --swedish-minty-green:               #0BE881;
    --swedish-nârenji-orange:            #FFC048;
    --swedish-red-orange:                #FF3F34;
    --swedish-sizzling-red:              #F53B57;
    --swedish-spiro-disco-ball:          #0FBCF9;
    --swedish-sunset-orange:             #FF5E57;
    --swedish-vibrant-yellow:            #FFD32A;
    --swedish-yriel-yellow:              #FFDD59;

    /* turkish palette */
    --turkish-baltic-sea:                #3D3D3D;
    --turkish-bright-lilac:              #CD84F1;
    --turkish-dorn-yellow:               #FFF200;
    --turkish-electric-blue:             #7EFFF5;
    --turkish-hammam-blue:               #67E6DC;
    --turkish-light-indigo:              #7158E2;
    --turkish-light-purple:              #C56CF0;
    --turkish-light-red:                 #FF4D4D;
    --turkish-light-slate-blue:          #7D5FFF;
    --turkish-mandarin-sorbet:           #FFAF40;
    --turkish-neon-blue:                 #18DCFF;
    --turkish-pretty-please:             #FFCCCC;
    --turkish-radiant-yellow:            #FF9F1A;
    --turkish-red-orange:                #FF3838;
    --turkish-shadowed-steel:            #4B4B4B;
    --turkish-spiro-disco-ball:          #17C0EB;
    --turkish-unmellow-yellow:           #FFFA65;
    --turkish-weird-green:               #3AE374;
    --turkish-wintergreen:               #32FF7E;
    --turkish-young-salmon:              #FFB8B8;
}